body { margin: 0; }

#controls {
    background: black;
    color: white;
    text-align: center;
    margin: 0;
    opacity: .75;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#controls>ul>li>a { color: white; }

#controls>ul>li {
    display: inline-block;
}

#controls>ul {
    list-style-type: none;
    padding: 8px;
}

#share { float: left; }

#titleset { float: right; }

#title {
    margin: 0;
    padding: 8px;
    display: inline-block;
}

#stream {
    margin-top: 8em;
    padding: 8px;
}

.eof {
    color: #BF1102;
    text-align: center;
    margin: auto;
}

/* CURSOR BITS */

.cursor {
    background: black;
    color: white;
    
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.9s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 0.9s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.25; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.25; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.25; }
    100% { opacity: 1.0; }
}
